* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#salom {
    background: url(Rectangle\ 51.png) no-repeat center/cover;
    width: 100%;
    height: 100vh;
}

b {
    font-weight: bolder;
    font-size: 40px;
    font-weight: 700;
    font-family: "roboto", sans-serif;
    color: white;
}


.navbar {
    width: 100%;
    height: 90px;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
.b{
    margin-left: 20px;
}
.a{
    margin-right: 20px ;
}
.a a {
    font-family: "roboto", sans-serif;
    color: white;
    text-decoration: none;
    padding: 0 10px;
}
.a a:hover{
    color: #FF9E67;
    transition: 0.5s;
}
.a i{
    display: none;
}

.a button {
    width: 160px;
    height: 40px;
    color: white;
    background-color: #FF9E67;
    font-size: 18px;
    border: 0;
    border-radius: 8px;
}

h1 span{
    color: #C98A3B;
}
h1{
    font-size: 40px;
    font-family: "Roboto", sans-serif;
    padding-top: 510px;
    padding-left: 230px ;
}
.df{
    display: flex;
}
.ung img{
    margin-top: 440px;
    margin-left: 130px;
}
#div{
    display: none;
}
@media only screen and (max-width: 600px) {
    .df {
    display: block;
    }
    .ung img{
        width:270px;
        margin-left: 100px;
        margin-top: 90px;
    }
    #salom{
        width: 100%;
        height: 30vh;
    }
    h1{
        font-size: 25px;
        padding-top: 140px;
        padding-left:110px;
    }
    .navbar .a{
        display: none;
    }
#div{
    display: block;
      color: white;
      margin-top: -90px;
}
.navbar  i{
    font-size: 25px;
    margin-top: 40px;
}
.navbar{
    display: flex;
}
#div button{
    background: none;
    border: none;
}
.c a{
color: black;
display: block;
text-decoration: none;
font-size: 20px;
margin-top: 20px;
}
.c button{
    font-size: 20px;
    margin-top: 20px    ;
}
  }
  #div .btn-close{
    color: black;
}
